body{
    margin: 0;
    font-family: Montserrat;
    background-color: #F4F4F4;
}
.header{
    background-color: #101010;
    padding: 19px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.hero{
    text-align: center;
    margin-bottom: 80px;
}
.hero h1{
    color: #303030;
    font-size: 72px;
    margin: 0 0 8px 0;
}
.hero p{
    margin: 0;
    color: #ababab;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 240px;
}
.content{
    width: 1198px;
    margin: 0 auto;
}
.trips{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.milsestones{
    width: 359px;
}
.badge:ul:before{
    list-style-type: none;
    content: "";
    border: 3px solid #121312;
}
.badge{
    text-decoration: none;
    width: 56px;
    height: 56px;
    background-color: #1d1f24;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16a94a;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}
.pricing-head{
    padding: 20px;
    text-align: center;
    font-size: 23px;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 607px;
    font-weight: bold;
}
.frames{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
}
.frame1{
    padding: 40px 35px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.frame2 {
    padding: 50px 40px;
    padding-bottom: 8px;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    padding: 150px 0px 150px 0px;
    color: #FFFFFF;
}
.bttn{
    background-color: #18BA51;
    width: 90px;
    height: 20px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    font-family: Montserrat;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}
.pinetour{
    background-color: #101010;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 80px 120px 80px 120px;
    gap: 750px;
    border: 1px;
    border-top: 1px solid #303030
}
.fb{
    border: #303030;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #303030;
    width: 167px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    font-family: Montserrat;
}
.instagram{
    border: #303030;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #303030;
    width: 167px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    font-family: Montserrat;
}